<div class="banner">
  <div class="container" style="padding-left: 3%;padding-right: 3%;">
    <div class="row hero" data-aos="fade-up">
      <div class="col-sm-7 " data-aos="fade-right">
        <div class="flex-column justify-content-center" style="align-items: center;">
          <h1 class="title" style="">Our Inspiration</h1>
          <br>
          <p class="get">
            We are proud to be Indians. India is known for its varied Culture, Outstanding export business, Quality
            Education, Rich Heritage, One of the Fastest growing Economy, progressive in the fields of security,
            science, medicine, food grains, and the list can go on & on. India has managed to be among the top-6
            economies in the world. India is the seventh-largest country by area, the second-most populous country, and
            the most populous democracy in the world. In spite of all this, we firmly believe that India and its
            citizens have a potential to grow much more in terms of Education, Skills and Wealth.
            <br><br>And that is Why Whatever we are now is no Enough. One percentage of rich population in India holds
            20% of the country's wealth while 50% has 13% of wealth. “Over 20 crore people who live here are under the
            below poverty line. Around 23 crore people have an income of ₹375 per day. Unemployment rate is also very
            distressing as the current rate is 7.6%,”
            <br><br>
            Which means there has to be some plans that can do something about this economic inequality. Our education
            system is primarily focused only on examinations rather than training students for the future and really
            testing their knowledge. Because of this, students are forced to take tests that show only their retention
            powers, not their actual capacity or knowledge.
            <br><br>
          </p>
          <p class="get">Our Beloved Prime Minister in his addressing on World Youth’s
            Skill Day said, “The skill development of the new generation is a national need”. And going further to this
            1 step, he kept the foundation of Aatmanirbhar Bharat</p>
          <p class="get">“While education tells us what to do, skill guides us in the actual operational implementation
            and this has been the guiding principle of Skill India Mission. So far more than 1.25 crore young persons
            have been trained under ‘Pradhanmantri Kaushal Vikas Yojana’,” said Our Beloved Prime Minister . He Further
            said that
            “Learning should not stop with earning. Only a skilled person will grow in today’s world. This is applicable
            to both people and countries.” He said that India providing smart and skilled man-power solutions to the
            world should be at the core of our strategy of skilling our youth.
          </p>
          <br>
          <!-- <a class=" lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-gray-50 hover:bg-gray-100 text-sm text-gray-900 font-bold  rounded-xl transition duration-200 menus" href="#" style="background: #ef9505;border-radius: 0px 30px 30px 20px;font-family: poppins;">Get Started</a> -->

        </div>

      </div>

      <div class="col-sm-5 flex justify-content-center" data-aos="fade-left">
        <div class="d-flex flex-column ">
          <!-- <img class="img1" src="../../assets/img/rectangle-969@2x.png" alt=""> -->
          <img class="img2" src="../../assets/atam_nirbhar_banner.jpg" alt="">
          <!-- <img class="img3" src="../../assets/anb2.jpg" alt=""> -->
          <!-- <img class="img4" src="../../assets/img/rectangle-972@2x.png" alt=""> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center main-text" style="color: #ef9505;margin-top: 50px;">Welcome to MoneySaga.</div>
<br><br>

<div class="row welcome_box" style="padding-left: 40px;padding-right: 40px;">
  <div class="col-sm-6 col-lg-6 col-md-6" data-aos="zoom-in">
    <img class="welcome_img float-right" style="padding-right: 6%;" src="../../assets/skill_development.jpg" alt="">
    <!-- <img src="../../assets/Rectangle 975.png" alt=""> -->
  </div>
  <div class="col-sm-6" data-aos="zoom-in">
    <div class="d-flex flex-column" style="padding-left: 6%;">
      <!-- <div class="main-text">Why Learn from MoneySaga Consultancy Services LLP</div> -->
      <p class="welcome_desc" style="color: white;font-family:poppins;">
        <!-- <p style="color: white;font-family:poppins"> -->
        Inspired by Aatmanirbhar Bharat, MoneySaga Consultancy Services decided to Launch its Skill Development Program
        in the Field of Financial Education. Being a True Indian, we thought of Launching various Skill development
        programs that can enhance Financial Knowledge and thereby create opportunities for all to create wealth, manage
        it and grow it consistently. <br>
      </p>
    </div>
  </div>
</div>




<div class="row welcome_box" style="padding-left: 40px;padding-right: 40px;" data-aos="fade-right">
  <div class="col-sm-6 col-lg-6 col-md-6">
    <div class="d-flex flex-column text-left" style="">
      <div class="main-text" style="color: #ef9505">Our Vision</div><br>
      <p class="welcome_desc" style="color: white;font-family:poppins">
        Our Vision is to be the leading Skill development & Fintech Solution Provider that provides the Best Education
        in the Field of Finance thereby educating everyone to Make, Properly Utilize , Invest , Manage and Grow money to
        achieve all the Financial Goals in a short possible span.
        Our Vision is to reach every village, town, city where mobile network can reach and Educate at least One member
        of Every Family to become Financially Free so that He / She would educate the other members of the Family and
        their locality to achieve early Financial Freedom
      </p>
    </div>
  </div>
  <div class="col-sm-6 col-lg-6 col-md-6">
    <img class="welcome_img" style="padding-left: 6%;" src="../../assets/our_vision.jpg" alt="">
  </div>
</div>


<div class="row welcome_box" style="padding-left: 40px;padding-right: 40px;" data-aos="fade-left">
  <div class="col-sm-6">
    <img class="welcome_img float-right" style="padding-right: 6%;" src="../../assets/our_mission.jpg" alt="">
  </div>
  <div class="col-sm-6">
    <div class="d-flex flex-column" style="padding-left: 6%;">
      <div class="main-text" style="color: #ef9505">Our Mission</div><br>
      <p class="welcome_desc" style="color: white;font-family:poppins;">
        <!-- <p style="color: white;font-family:poppins"> -->
        We will Specialize in Developing and Providing Financial Products that will surpass the competitors. We want to
        provide valuable and Life changing Education both Theoretically and Practically so that it gives an Upper Hand
        to our clients in various age group starting from Teenagers to the Senior Citizens and from School going
        Children, Collegians, Employees, Businessmen, House Wives and all those who love making and multiplying Money.
      </p>
    </div>
  </div>
</div>

<div class="row why_box" style="padding-left: 40px;padding-right: 40px;" data-aos="zoom-out">
  <div class="col-sm-8 col-lg-8 col-md-8">
    <div class="d-flex flex-column ">
      <div class="main-text" style="color: #ef9505;">Why Learn from MoneySaga?</div>
      <p class="why_desc" style="color: white;font-family:poppins">
        <br>• Courses that a Non-Finance Individual can also easily Understand
        <br>• Course Material for Beginners to Expert
        <br>• Course in a Form of Mobile Based Pre-recorded sessions
        <br>• Access from Anywhere, Anytime and can be repeated “N” number of times
        <br>• Live Practical sessions through zoom
        <br>• Easy Understanding of every topic and clearing of all the doubts
        <br>• Premium Telegram Channel for daily Updates for Education
        <br>• Easy to Understand in 2 Languages - Hindi and English
        <br>• Theoretical as well as Practical sessions for In-depth knowledge
        <br>• Hand-holding Support by the Mentors
        <br>• Free Trading Account for Demo Practice and Real Trading

      </p>
    </div>
  </div>
  <div class="col-sm-4 col-lg-4 col-md-4">
    <img class="why_img" style="padding-left: 6%;" src="../../assets/WHY .png" alt="">
  </div>
</div>

<section class="second-section">
  <div class="container" data-aos="fade-up">
    <h2>BLOG</h2>
    <div class="line"></div>

    <div id="wrap_row" data-aos="fade-up">


      <div class="col-md-3 col-sm-6 col-lg-3   fadeInDown" data-wow-duration="1s" data-wow-delay=".2s">
        <div class="service-item">
          <div class="icon justify-content-center align-items-center d-flex rotate-center">
            <span class="mx-3">
              <!-- <i class="fa-solid fa-calendar-days font-bold h1 event" aria-hidden="true"></i> -->
              <!-- <i class="fa-solid fa-calendar-week" aria-hidden="true"></i> -->
              <i class="fa-brands fa-elementor"></i>
            </span>
          </div>
          <h4> <a id="link" href="news">EVENTS</a></h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-lg-3  fadeInDown" data-wow-duration="1s" data-wow-delay=".4s">
        <div class="service-item">
          <div class="icon justify-content-center align-items-center d-flex rotate-center">
            <span class="">
              <!-- <i class="fa-solid fa-images" aria-hidden="true"></i> -->
              <i class="fa-regular fa-image" aria-hidden="true"></i>

            </span>
          </div>
          <h4><a id="link" href="EventModule/FolderList">PHOTOS </a></h4>

        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-lg-3  fadeInDown" data-wow-duration="1s" data-wow-delay=".6s">
        <div class="service-item">
          <div class="icon justify-content-center align-items-center d-flex rotate-center">
            <span class="">
              <!-- <i class="fa-solid fa-video" aria-hidden="true"></i> -->
              <i class="fa-solid fa-film" aria-hidden="true"></i>
            </span>
          </div>
          <h4><a id="link" href="ImageGallery/FolderList">VIDEOS</a></h4>

        </div>
      </div>
      <div class="col-md-3 col-sm-6  fadeInDown" data-wow-duration="1s" data-wow-delay=".8s">
        <div class="service-item">
          <div class="icon justify-content-center align-items-center d-flex rotate-center">
            <span class=""><i class="fa-regular fa-newspaper" aria-hidden="true"></i></span>
          </div>
          <h4><a id="link" href="videoGallery/FolderList"> NEWS </a></h4>

        </div>
      </div>
    </div>
  </div>
</section>

<div class="text-center main-text" style="color: #ef9505;margin-top: 70px;margin-bottom: 70px;">Educational Courses
  Offered</div>


<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div>
        <img class="imgUpd" src="../../assets/forex.png" alt="">
      </div>
      <div>
        <p class="course_title">Learn & Earn through Global Forex Market </p>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div>
        <img class="imgUpd" src="../../assets/stock_market.png" alt="">
      </div>
      <div>
        <p class="course_title">Learn & Earn through Indian Stock Market</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div>
        <img class="imgUpd" src="../../assets/mutual_insurance.png" alt="">
      </div>
      <div>
        <p class="course_title">Learn & Earn through Insurance and Mutual Funds</p>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div>
        <img class="imgUpd" src="../../assets/financial_teen.jpg" alt="">
      </div>
      <div>
        <p class="course_title">Financial Literacy for Teens</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div>
        <img class="imgUpd" id="imgX" src="../../assets/financial_freedom.jpg" alt="">
      </div>
      <div>
        <p class="course_title">Plan and Achieve Early Financial Freedom</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div>
        <img class="imgUpd" id="imgX" src="../../assets/wealth_lifestyle.jpg" alt="">
      </div>
      <div>
        <p class="course_title">Rituals to Enjoy Wealthy Lifestyle</p>
      </div>
    </div>
  </div>
</div>




<div class="text-center main-text" style="color: #ef9505;margin-top: 70px;margin-bottom: 70px;">Physical Sessions</div>

<div class="container" data-aos="zoom-in">
  <div class="update">
    <div class="row">

      <div class="col-md-6 col-sm-12 align-items-center ">
        <img class="ipdImg img-fluid d-md-block"
          src="https://online.nmims.edu/blog/wp-content/uploads/2022/07/Untitled-design-2022-07-15T103521.995-1.png"
          alt="">
      </div>

      <div class="col-md-6 col-sm-12 pl-md-5 pl-sm-0">
        <div class="main-text">2 Day Physical session at MCCI Pune with Our Super Mentor.</div>
        <div class="subtitle">1. More than 150 attendees in a batch of 50 each</div>
        <div class="subtitle">2. One on One discussion with the Mentor Himself</div>
        <div class="subtitle">3. Clearing of all the doubts and queries regarding the course and Mobile + Web
          Application</div>
        <div class="subtitle">4. Hands On practice on Practical execution of trades </div>
      </div>

    </div>
  </div>
</div>



<!--CAROUSEL-->

<div class="container-xl" style="margin-top: 50px;margin-bottom: 50px;">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h2>Testimonials</h2>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- <ol class="carousel-indicators" *ngFor="let ar from 1 to arr.length()">
          <li data-target="#myCarousel" data-slide-to="{{ar}}" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li> -->
        <!-- </ol> -->

        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
          <!-- <div *ngFor="let ar of arr">
            <div class="carousel-item active">
              <div class="img-box"><img src="{{ar['url']}}" alt=""></div>
              <p class="testimonial">{{ar['para']}}</p>
              <p class="overview"><b>{{ar['guide']}}</b>{{ar['course']}}</p>
            </div>
          </div> -->
          <div class="carousel-item active carousel-container">
            <div class="img-box"><img
                src="{{testimonials[0].link}}"
                alt=""></div>
            <div class="textc">
              <p class="testimonial">{{testimonials[0].desc}}</p>
              <p class="overview"><b>{{testimonials[0].name}}</b>, {{testimonials[0].position}}</p>
            </div>
          </div>

          <div class="carousel-item carousel-container" *ngFor="let data of testimonials">
            <div class="img-box"><img
                src="{{data.link}}"
                alt=""></div>
            <div class="textc">
              <p class="testimonial">{{data.desc}}</p>
              <p class="overview"><b>{{data.name}}</b>, {{data.position}}</p>
            </div>
          </div>
         
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>


<!--END OF CAROUSEL-->

<div class="contact" style="margin-bottom: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="flex-column justify-content-center" style="align-items: center;">
          <h1 class="title2">Contact Us</h1>
          <div class="subs"><strong>Please fill in the details below for any queries. We will be happy to Help you at
              the Earliest.</strong></div>
          <div class="d-flex justify-content-between" id="cnt" style="max-width: 450px;margin-top: 50px;">
            <input class="inp" type="text" style="padding:12px 20px;" placeholder="First Name">
            <input class="inp" type="text" style="padding:12px 20px;" placeholder="Last Name">
          </div>
          <div style="padding-top: 20px;"><input class="inp" type="text" style="padding:12px 20px;width: 450px;"
              placeholder="Email"></div>
          <div style="padding-top: 20px;"><select title="Select preferred country code " value="countryCode"
              name="countryCode" class="inp2">
              <option value="+91">+91</option>
              <option value="+1">+1</option>
              <option value="+44">+44</option>
              <option value="+61">+61</option>
              <option value="+1">+1</option>
              <option value="+65">+65</option>
            </select>
            <input class="inp" style="padding: 12px 20px;width: 390px;" type="tel" placeholder="Mobile No." />
          </div>
          <!-- <input class="inp" type="text" style="padding:12px 20px;"placeholder="Mobile No."> -->
          <textarea class="inp" name="description" id="desc" cols="30" rows="30" style="padding:12px 20px;"
            placeholder="Send Message"></textarea>
        </div>
        <a class=" lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-gray-50 hover:bg-gray-100 text-sm text-gray-900 font-bold  rounded-xl transition duration-200 menus"
          href="#"
          style="background: #ef9505;border-radius: 0px 30px 30px 20px;font-family: poppins;margin-top: 20px;margin-bottom: 50px;">Get
          Started</a>
      </div>
    </div>
  </div>
</div>